@page "/"

<h1>Hello and Welcome to school data example</h1>

<p>
    This is my 2nd GitHub project and the planned was to use Blazor service as proxy to Json web API.
    This API is publicly available on the  internet as https://code.org/schools.json.  My desired was 
    use both SQL database and In-memory database and filter out only content need to be transfer to client.
</p>
<p>
    Another interesting thing happen that help this project.  Microsoft release Blazor Web Assembly.
    I have the following goals for this project, and all have been implemented except for the last
    one which I will work on after updating this project on GitHub
</p>
<h5>
    1.	Provide an example of calling exiting json service with a Blazer web assembly webservice
</h5>
<h5>
    2.	Provide in-memory or SQL storage of contents for faster retrieval of the information with reduce information
</h5>
<h5>
    3.    SQL Storage uses both Dapper and Entity Framework along performance testing of all storage API’s
</h5>
<h5>
    4.	School Json return 5000+ records so paging option is implemented for performance reasons
</h5>
<h5>
    5. 	Blazor website has options for Simulated and existing json with no SQL for portability
</h5>
<h5>
    6.	Provide example of using WPF Core application to Blazer web-assembly webservice
</h5>
<h5>
    7.	Blazor web-assembly progressive app supported but needs to be test on other devices
</h5>
<h5>
    8.	Updated to also include ASP.Net Razor client without use of Javascript
</h5>



